# ignore files for fan

Thumbs.db
.DS_Store
*.log

# IntelliJ
*.iml

# Visual Studio
.vs/
bin/Debug/
bin/Release/
obj/Debug/
obj/Release/

# IntelliJ
.idea/

# general
/readme.html
/adm/pngcrush

# domkit
/src/domkit/res/css/

# etc
/etc/build/config.props
/etc/markdown/tests/
/etc/sys/types.db
/etc/yaml/tests/

# gen
/gen/

# lib/
/lib/java/**/*.jar
/lib/javascript/
/lib/dotnet/*.pdb
/lib/dotnet/sys.dll
/lib/fan/*.pod
/lib/js/
/lib/es/
/lib/data/
/lib/tmp/
/lib/src/

# doc/
/doc/

# src/
/src/foo/
/src/sys/java/temp/
/src/testEs/

# temp
/tmp/
/temp/
temp-java/
temp-es/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Haxall symlinks (created by build-haxall.sh)
src/haystack
src/xeto
src/xetom
src/xetoc
src/testHaystack
src/testXeto
src/testAxon
src/axon
src/def
src/folio
src/hx
src/obs
src/rdf
src/xetodoc
src/auth
src/defc
src/hxUtil
src/hxStore
src/hxFolio
src/hxm
src/hxd
